.status-bar{
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Open Sans',sans-serif;
    color: #636363;
    background-color: #FFFFFF;
}
.status-bar i{
    font-size: 13px;
}

.status-bar .status-bar__battery-rate{
    margin-left: 5px;
}